.class-goind{
    width: 100%;
    background-image: url(6fot.jpeg);
    background-size:cover;
    text-align: center;
    padding: 50px 0px;
    color: white;
    margin: 0px 100px 40px 0px
}

.goi{
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 10px -95px;
}

.what-where{
    width: 100%;
    display: flex;
}

.what-where .what{
    margin-left: 60px;
    text-align: left;
    margin-right: 90px;
    padding: 20px 20px 40px 5px;
}

.what-where .where{
    margin-left:-80px;
    text-align: left;
    padding: 20px 20px 40px 10px;
}

.w-inp{
    padding: 15px 300px 15px 15px;
    border:transparent ;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}
.w-but{
    padding-top: 28px;
    padding-bottom: 18px;
    padding-right: 25px;
    margin-left: -8px;
    border: none;
    background-color: rgb(118, 110, 110);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    
}

.fin-but{
    padding: 18px 40px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    margin-left: -80px;
}
